:host {
  .composer {
    corner-shape: superellipse(1.1);
    border-radius: 28px;
    display: block;
    background-color: var(--color-container);
    width: 95%;
    max-width: 48rem;
    min-width: 50vw;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .composer__editable,
  .composer__textarea {
    width: 100%;
    min-height: 1rem;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font: inherit;
    white-space: pre-wrap;
    word-break: break-word;
    outline: none;
    color: var(--color-text);
  }

  .composer__editable[contenteditable='true']:empty::before {
    content: attr(data-placeholder);
    opacity: 0.6;
    pointer-events: none;
  }

  .composer__editable[contenteditable='false'] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  .composer__textarea {
    resize: vertical;
  }

  .composer__send {
    border: none;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin: 0.35rem;

    &[disabled] {
      background: grey !important;
      cursor: not-allowed;
    }
  }
}
