:host {
  display: block;
  background-color: var(--color-bg-dark);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px 0;
  gap: 30px;
  position: relative;
  transition: width 0.3s ease;

  &.close {
    width: 0px;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 10px;

    & h5 {
      font-size: 1.4rem;
      margin: 0;
      margin-left: 10px;
      font-weight: normal;
      color: lightgrey;
    }

    .menu_link {
      background: transparent;
      border: none;
      color: var(--color-text);
      display: flex;
      align-items: center;
      width: 100%;
      gap: 5px;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 4px;

      & span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: var(--color-bg);
      }
    }
  }

  & .sidebar_toggle {
    position: absolute;
    top: 10px;
    right: -24px;
  }
}
